<!-- client/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="./css/App.css"></link>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="./assets/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="./assets/font-awesome/css/font-awesome.min.css"></link>
    <link rel="stylesheet" href="./assets/nprogress/nprogress.css"></link>
    <link rel="stylesheet" href="./assets/google-code-prettify/bin/prettify.min.css"></link>
    <link rel="stylesheet" href="./assets/build/css/custom.min.css"></link>
    <link rel="stylesheet" href="./assets/iCheck/skins/flat/green.css"></link>
    <link rel="stylesheet" href="./assets/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"></link>
    <link rel="stylesheet" href="./assets/jqvmap/dist/jqvmap.min.css"></link>


    


    

   
   
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
     <!-- Add manifest -->
     <link rel="manifest" href="./manifest.json">

     <!-- Tell the browser it's a PWA -->
     <meta name="mobile-web-app-capable" content="yes">
     <!-- Tell iOS it's a PWA -->
     <meta name="apple-mobile-web-app-capable" content="yes">
     <!-- Make sure theme-color is defined -->
     <meta name="theme-color" content="#536878">

    <title >TeamBoard</title>
    <link rel="shortcut icon" href="./imgs/browserIcon.jpeg" />
<!-- nikabot styles -->
    <!-- <link rel="stylesheet" href="https://www.nikabot.com/f140b3875bbd3c6f9c251e348776b7b7f677957c.css?meteor_css_resource=true">
    <link rel="stylesheet" href="https://www.nikabot.com/7d52e6b088a7910c951c86a2548f057b176f04bd.css?meteor_css_resource=true"> -->
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }
      .App {
        text-align: center;
      }
      .App-header {
        background-color: #222;
        height: 150px;
        padding: 20px;
        color: white;
      }
      .App-intro {
        font-size: large;
      }
    </style>
  </head>
  <body class="body-ctr nav-md">
    <div id="root" class="root-ctr container body" style=" margin: 0; max-width: 100%;">
       
          <div class="App">
            <div class="App-header">
                <h2>Mobelite</h2>
            </div>
            <p class="App-intro">
              Loading site...
            </p>
        </div>
    </div>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('service-worker.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
          }).catch(function(err) {
            console.log(err)
          });
        });
      } else {
        console.log('service worker is not supported');
      }
    </script>
</body>
  <script src="bundle.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
 
  
  <!-- jQuery -->
   <script src="./assets/jquery/dist/jquery.min.js"></script>
   <!-- Bootstrap -->
   <script src="./assets/bootstrap/dist/js/bootstrap.min.js"></script>
   <!-- FastClick -->
   <script src="./assets/fastclick/lib/fastclick.js"></script>
   <!-- NProgress -->
   <script src="./assets/nprogress/nprogress.js"></script>
   <!-- Chart.js -->
   <script src="./assets/Chart.js/dist/Chart.min.js"></script>
   <!-- gauge.js -->
   <script src="./assets/gauge.js/dist/gauge.min.js"></script>
   <!-- bootstrap-progressbar -->
   <script src="./assets/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
   <!-- iCheck -->
   <script src="./assets/iCheck/icheck.min.js"></script>
   <!-- Skycons -->
   <script src="./assets/skycons/skycons.js"></script>
   <!-- Flot -->
   <script src="./assets/Flot/jquery.flot.js"></script>
   <script src="./assets/Flot/jquery.flot.pie.js"></script>
   <script src="./assets/Flot/jquery.flot.time.js"></script>
   <script src="./assets/Flot/jquery.flot.stack.js"></script>
   <script src="./assets/Flot/jquery.flot.resize.js"></script>
   <!-- Flot plugins -->
   <script src="./assets/flot.orderbars/js/jquery.flot.orderBars.js"></script>
   <script src="./assets/flot-spline/js/jquery.flot.spline.min.js"></script>
   <script src="./assets/flot.curvedlines/curvedLines.js"></script>
   <!-- DateJS -->
   <script src="./assets/DateJS/build/date.js"></script>
   <!-- JQVMap -->
   <script src="./assets/jqvmap/dist/jquery.vmap.js"></script>
   <script src="./assets/jqvmap/dist/maps/jquery.vmap.world.js"></script>
   <script src="./assets/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>


   <script src="./assets/raphael/raphael.min.js"></script>
   <script src="./assets/morris.js/morris.min.js"></script>

   <!-- bootstrap-daterangepicker -->
   <script src="./assets/moment/min/moment.min.js"></script>
   <script src="./assets/bootstrap-daterangepicker/daterangepicker.js"></script>
 
<!-- trello test -->
<!-- <script src="https://p.trellocdn.com/embed.min.js"></script> -->
   <!-- Custom Theme Scripts -->
   <script src="./assets/build/js/custom.min.js"></script>
 

 


    
  
    
 
</html>