.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.root-ctr{
  margin: 15px 15px 15px 15px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.footer-ctr{
  text-align: center;
  border-top: 5px solid rgb(56, 56, 56);
}
.btn-add-expense{
  margin-top: 15px;
  margin-bottom: 15px;
}
.body-ctr{
  background-color: #f7f7f7;
}
.header-ctr{
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-col {
  width:100px;
  text-align:center;
}
.desc-col {
width:300px;
text-align:left;
font-size: 20px;
}
table {
  counter-reset: tableCount;
}
.counterCell:before {
  content: counter(tableCount);
  counter-increment: tableCount;
}
.counterCell {
text-align: center;
width:50px;
}
.button-center {
text-align: center;
}
.main-ctr-app{
  margin: 0 auto;
  margin-left: 150px;
}
.Modal {
 position: relative;
 top: 250px;
 left: 400px;
 right: 20px;
 bottom: 20px;
 background-color: #F5F5F5;
 width:500px;
 border: 1px solid #000;
 border-radius: 4px;
 padding: 20px;
}
.Overlay {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rebeccapurple;
}
.button-center {
text-align: center;
}
label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
}
fieldset{
border:none;
margin:0px auto;
}
.closebtn{
 float:right;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
